.image-gallery {
  width: 50%;
  display: block;
  margin: auto;
}

/**************************/
/********* Queries ********/
/**************************/

@media (max-width: 420px) {
    .image-gallery {
      width: 100%;
    }
  }